@use "sass:math";
//======================================== Підключення міксінів =================================================
@import "./utils/mixins";
//======================================== Підключення шрифтів ==================================================
//&display=swap - додати при підключенні через плагін
@import url(https://fonts.googleapis.com/css?family=Oswald:300,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap);

// Підключити, якщо є локальні файли шрифтів
//@import "fonts/_fonts";

//======================================== Підключення іконкових шрифтів ========================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/_icons";

//?======================================== За замовчуванням шрифт ==============================================

$fontFamily: "Manrope", sans-serif;
$fontSize: rem(16);

$mainColor: #ffffff;
$background-color: #010101;

//======================================== Налаштування адаптивної сітки ========================================
@import "./base/adaptive";
//======================================== Обнулення ============================================================
@import "./base/zeroing";
@import "./base/settings";
//======================================== Wrapper ==============================================================
@import "./base/wrapper";
//======================================== Налаштування контейнера ==============================================
@import "./utils/container";
//======================================== Підключення змінних ==================================================
@import "./utils/variable";
//======================================== Підключення плейсхолдерів ============================================
@import "./utils/placeholder";
//======================================== Підключення components ===============================================
@import "./common/components.scss";
@import "./common/button";

//===============================================================================================================
@import "./layout/header";
@import "./layout/footer";

//======================================== Підключення сторінок =================================================
@import "./page/index";
@import "./page/fraternity";
@import "./page/roadmap";
@import "./page/season";
//===============================================================================================================
