.season-hero {
   position: relative;
   // .season-hero__container
   &__container {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: rem(10);

      @media screen and (max-width: $mobile) {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
      }
   }
   // .season-hero__title
   &__title {
      position: relative;
      &::after {
         position: absolute;
         content: "";
         bottom: -10px;
         left: 0;
         //===============================================================================================================
         @media screen and (max-width: $mobile) {
            left: 50%;
            transform: translate(-50%, 0%);
         }
         //===============================================================================================================
         display: block;
         @include adaptiveValue("width", 92, 54);
         @include adaptiveValue("height", 11, 7);
         background-color: #ffffff;
      }
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }
   // .season-hero__inner
   &__inner {
      display: flex;
      flex-direction: column;
      justify-self: center;
      @include adaptiveValue("gap", 10, 8);
   }
   // .season-hero__text
   &__text {
      font-weight: 800;
      @include adaptiveValue("font-size", 32, 24);
      line-height: math.div(48, 32);
      letter-spacing: 0.24em;
      color: $link-color;
   }
   // .season-hero__subtext
   &__subtext {
      font-weight: 400;
      @include adaptiveValue("font-size", 24, 20);
      line-height: math.div(36, 24);
      color: $text-color;
   }
   // .season-hero__button
   &__button {
      position: absolute;
      @include adaptiveValue("bottom", -160, -120);
      right: 0;
      transform: translate(0%, 0%);
      //===============================================================================================================
      @media screen and (max-width: $pc) {
         @include adaptiveValue("right", 30, 15);
      }
   }
   // .season-hero__decor
   &__decor {
      position: absolute;
      @include adaptiveValue("top", -160, -80);
      left: 0;
      transform: translate(-50%, 0%);

      display: none;

      @include adaptiveValue("width", 208, 150, 0, 1230, 767.98);
      @include adaptiveValue("height", 208, 150, 0, 1230, 767.98);
      background: linear-gradient(90deg, #eab359 0%, #f0e591 20.21%, #eab454 100%);
      filter: blur(100px);
      z-index: -1;
      //===============================================================================================================
      @media screen and (min-width: $mobile) {
         display: block;
      }
   }
}
